@inject DialogService _dialogService

<RadzenStack>
    <RadzenRow RowGap="0">
        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Bank Transaction ID:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-color-danger">@Deposit.BankTransactionId</RadzenText>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow RowGap="0">
        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Deposit ID:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@Deposit.Id</RadzenText>
        </RadzenColumn>

        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Status:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@Deposit.Status</RadzenText>
        </RadzenColumn>

        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Medical Record?:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@(Deposit.MedicalRecords ? "Yes" : "No")</RadzenText>
        </RadzenColumn>

        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Deposit To:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@Deposit.DepositTo</RadzenText>
        </RadzenColumn>

        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Transaction ID:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@Deposit.TransactionId</RadzenText>
        </RadzenColumn>

        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Deposit Amount:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@Deposit.DepositAmount?.ToString("C2")</RadzenText>
        </RadzenColumn>

        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Deposited Date:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@Deposit.DepositDate?.ToString("MM/dd/yyyy")</RadzenText>
        </RadzenColumn>

        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Deposited By:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@Deposit.DepositedBy</RadzenText>
        </RadzenColumn>

        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Created Date:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@Deposit.CreatedDate.ToString("MM/dd/yyyy HH:mm")</RadzenText>
        </RadzenColumn>

        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Created By:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@Deposit.CreatedBy</RadzenText>
        </RadzenColumn>

        <RadzenColumn SizeSM="2" Size="4">
            <RadzenText TextStyle="TextStyle.Body2">Description:</RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeSM="4" Size="8">
            <RadzenText TextStyle="TextStyle.Subtitle2">@Deposit.Description</RadzenText>
        </RadzenColumn>
    </RadzenRow>

    <RadzenTable>
        <RadzenTableHeader>
            <RadzenTableHeaderRow>
                <RadzenTableHeaderCell Style="width: 10%;">Item</RadzenTableHeaderCell>
                <RadzenTableHeaderCell Style="width: 10%;">Type</RadzenTableHeaderCell>
                <RadzenTableHeaderCell Style="width: 20%;">Received From</RadzenTableHeaderCell>
                <RadzenTableHeaderCell Style="width: 20%;">Received Date</RadzenTableHeaderCell>
                <RadzenTableHeaderCell Style="width: 15%;">Received By</RadzenTableHeaderCell>
                <RadzenTableHeaderCell Style="width: 15%;">Item Amount</RadzenTableHeaderCell>
                <RadzenTableHeaderCell Style="width: 10%;">Status</RadzenTableHeaderCell>
            </RadzenTableHeaderRow>
        </RadzenTableHeader>
        <RadzenTableBody>
            @foreach (var item in Deposit.DepositItems)
            {
                var colorClass = item.IsAutoLinked ? "" : "rz-color-danger";

                <RadzenTableRow>
                    <RadzenTableCell><span class="@colorClass">@item.ItemNumber</span></RadzenTableCell>
                    <RadzenTableCell><span class="@colorClass">@item.DepositType</span></RadzenTableCell>
                    <RadzenTableCell><span class="@colorClass">@item.ReceivedFrom</span></RadzenTableCell>
                    <RadzenTableCell><span class="@colorClass">@item.ReceivedDate.ToString("MM-dd-yyyy")</span></RadzenTableCell>
                    <RadzenTableCell><span class="@colorClass">@item.ReceivedBy</span></RadzenTableCell>
                    <RadzenTableCell><span class="@colorClass">@item.ItemAmount.ToString("C2")</span></RadzenTableCell>
                    <RadzenTableCell><span class="@colorClass">@item.Status</span></RadzenTableCell>
                </RadzenTableRow>
            }
        </RadzenTableBody>
    </RadzenTable>

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
        <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Base" Text="Close"
                      Click="(MouseEventArgs args) => _dialogService.Close()" />
    </RadzenStack>
</RadzenStack>

@code {
    [Parameter]
    public DepositViewModel Deposit { get; set; }
}
